@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");
body {
  margin: 0;
  line-height: normal;
}
:root {
  /* fonts */
  --font-noto-sans-jp: "Noto Sans JP";

  /* font sizes */
  --font-size-base: 16px;

  /* Colors */
  --color-white: #fff;
  --color-darkgray: #b3b3b3;
  --color-crimson: #d32929;
  --color-black: #000;

  /* Gaps */
  --gap-15xl: 34px;
  --gap-base: 16px;
  --gap-5xs: 8px;

  /* Paddings */
  --padding-xl: 20px;
  --padding-smi-5: 12.5px;
  --padding-2xs: 11px;
  --padding-xs: 12px;
  --padding-3xs: 10px;

  /* Border radiuses */
  --br-5xs: 8px;
}

